html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: black;
    font-family: Arial;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

#navbar {
    height: 24px;
    background: #202020;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
}

#search-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 256px;
    min-width: 0;
}

#search-input {
    border: none;
    outline: none;
    border-radius: 2px;
    width: 100%;
    max-width: 256px;
    min-width: 0;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    background: #dadada;
}

#search-list {
    position: relative;
    height: 200px;
    width: 100%;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    scrollbar-color: #202020 #dadada;
}

.search-list-item {
    background: #dadada;
    align-items: center;
    padding: 1px 2px;
    user-select: none;
    word-wrap: break-word;
}

.search-list-item:hover {
    background: #fafafa;
}

.search-list-item:last-child {
    border-radius: 0 0 2px 2px;
}

#game-container {
    position: relative;
    background: #333333;
    flex: 1;
    z-index: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#featured-game {
    background: #202020;
    padding: 4px;
    border-radius: 4px;
    color: #dadada;
    font-size: 16px;
    width: 250px;

}

#featured-game p {
    margin: 2px;
}

#featured-game a {
    color: #fafafa;
}

#featured-game img {
    width: 100%;
    aspect-ratio: 1 / 1;
}
